<a href="https://colab.research.google.com/github/Jittiya/data_viz_2022/blob/main/Pandas102.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd # import packages
import os

In [10]:
from google.colab import drive # เชื่อมบัญชีกับ google drive
drive.mount('/content/drive') # เช็คว่าเชื่อมติดหรือไม่
path = '/content/drive/My Drive/dataviz_2021_data' # ชี้ว่าใน google drive โฟลเดอร์ที่เราอยากได้

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [13]:
data_file_path = os.path.join(path,'pm-20-jan-2021.csv') # เชื่อมกับไฟล์ .csv
data_df = pd.read_csv(data_file_path) # เเสดงผลลัพธ์ของไฟล์ที่เชื่อม

In [14]:
data_df.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

In [15]:
import numpy as np

###ตรวจสอบค่าใน column

In [17]:
set(data_df['province_of_onset'])

{nan,
 'กระบี่',
 'กรุงเทพมหานคร',
 'กาญจนบุรี',
 'กาฬสินธุ์',
 'กำแพงเพชร',
 'ขอนแก่น',
 'คลองใหญ่',
 'จันทบุรี',
 'ฉะเชิงเทรา',
 'ชลบุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ชากบก',
 'ชุมพร',
 'ตรัง',
 'ตราด',
 'ตาก',
 'นครนายก',
 'นครปฐม',
 'นครพนม',
 'นครราชสีมา',
 'นครศรีธรรมราช',
 'นครสวรรค์',
 'นนทบุรี',
 'นราธิวาส',
 'น่าน',
 'บางบุตร',
 'บุรีรัมย์',
 'ปทุมธานี',
 'ประจวบคีรีขันธ์',
 'ปราจีนบุรี',
 'ปัตตานี',
 'พม่า',
 'พระนครศรีอยุธยา',
 'พะเยา',
 'พังงา',
 'พัทลุง',
 'พิจิตร',
 'พิษณุโลก',
 'ภูเก็ต',
 'มหาสารคาม',
 'มาบตาพุด',
 'มุกดาหาร',
 'ยะลา',
 'ยโสธร',
 'ระนอง',
 'ระยอง',
 'ราชบุรี',
 'ร้อยเอ็ด',
 'ลพบุรี',
 'ลำปาง',
 'ลำพูน',
 'ศรีสะเกษ',
 'สกลนคร',
 'สงขลา',
 'สตูล',
 'สมุทรปราการ',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สมุุทรสงคราม',
 'สระบุรี',
 'สระแก้ว',
 'สิงห์บุรี',
 'สุพรรณบุรี',
 'สุราษฎร์ธานี',
 'สุรินทร์',
 'สุโขทัย',
 'หนองคาย',
 'หนองบัวลำภู',
 'หน้าพระธาตุ',
 'อำนาจเจริญ',
 'อุดรธานี',
 'อุตรดิตถ์',
 'อุทัยธานี',
 'อุบลราชธานี',
 'อ่างทอง',
 'เชียงราย',
 'เชียงใหม่',
 'เพชรบุรี',
 'เพชรบูรณ์',
 'เลย',
 'แพร่',
 'แม่ฮ่องสอน'}

In [ ]:
len('สมุทรสงคราม')

## ต่อตาราง

*   ต่อตารางในแนวแกน Y (เพิ่มจำนวนข้อมูล)
*   ต่อตารางในแนวแกน X (เพิ่มรายละเอียดของข้อมูล)

In [19]:
BKK = data_df[data_df['province_of_onset']=='กรุงเทพมหานคร']
BKK.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

In [20]:
KKC = data_df[data_df['province_of_onset']=='ขอนแก่น']
KKC.head()

       No.  ...                                           risk
180    181  ...                                        สนามมวย
462    463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466  1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970  1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637  2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ

[5 rows x 10 columns]

##ต่อตารางให้เป็นเป็นข้อมูล 2 จังหวัด

##ต่อในแนวแกน Y

In [21]:
dataBKKKKC = pd.concat([BKK,KKC])         # concat ต่อในแนวแกน Y
dataBKKKKC

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
5          6  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
9334    9335  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  10611  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517  11518  ...                         อยู่ระหว่างการสอบสวน
11697  11698  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  11699  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[2803 rows x 10 columns]

In [22]:
dataBKKKKC = pd.concat([BKK,KKC,BKK])
dataBKKKKC

         No.  ...                                           risk
0          1  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
5          6  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                            ...
12616  12617  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12617  12618  ...   ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ
12618  12619  ...   ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ
12619  12620  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12647  12648  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว

[5592 rows x 10 columns]

### ถ้าเอาตารางไม่เหมือนกันมา concat กัน

In [30]:
BKK2 = data_df[data_df['province_of_onset']=='กรุงเทพมหานคร'][['sex','age','nationality']]
BKK2.head()

    sex   age nationality
0  หญิง  61.0       China
1  หญิง  74.0       China
3   ชาย  68.0       China
4  หญิง  66.0       China
5  หญิง  33.0       China

In [31]:
KKC2 = data_df[data_df['province_of_onset']=='ขอนแก่น'][['age','nationality','sex']]
KKC2.head()

       age nationality   sex
180   33.0    Thailand   ชาย
462   36.0    Thailand  หญิง
1466  19.0    Thailand   ชาย
1970  70.0    Thailand  หญิง
2637  63.0    Thailand  หญิง

In [32]:
pd.concat([BKK2,KKC2])

        sex   age nationality
0      หญิง  61.0       China
1      หญิง  74.0       China
3       ชาย  68.0       China
4      หญิง  66.0       China
5      หญิง  33.0       China
...     ...   ...         ...
9334    ชาย  20.0    Thailand
10610   ชาย  17.0    Thailand
11517   ชาย  12.0    Thailand
11697  หญิง  17.0    Thailand
11698  หญิง  37.0    Thailand

[2803 rows x 3 columns]

In [33]:
KKC3 = data_df[data_df['province_of_onset']=='ขอนแก่น'][['age','nationality','sex','risk']]
KKC3.head()

       age nationality   sex                                           risk
180   33.0    Thailand   ชาย                                        สนามมวย
462   36.0    Thailand  หญิง    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466  19.0    Thailand   ชาย                  คนไทยเดินทางกลับจากต่างประเทศ
1970  70.0    Thailand  หญิง  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637  63.0    Thailand  หญิง                  สัมผัสผู้เดินทางจากต่างประเทศ

In [29]:
pd.concat([BKK2,KKC2,KKC3])

        sex   age nationality                                         risk
0      หญิง  61.0       China                                          NaN
1      หญิง  74.0       China                                          NaN
3       ชาย  68.0       China                                          NaN
4      หญิง  66.0       China                                          NaN
5      หญิง  33.0       China                                          NaN
...     ...   ...         ...                                          ...
9334    ชาย  20.0    Thailand  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610   ชาย  17.0    Thailand  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517   ชาย  12.0    Thailand                         อยู่ระหว่างการสอบสวน
11697  หญิง  17.0    Thailand  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  หญิง  37.0    Thailand  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[2817 rows x 4 columns]

## ต่อในแนวแกน X

In [35]:
personal_data = data_df[['No.','sex','age','nationality']]
personal_data.head()

   No.   sex   age nationality
0    1  หญิง  61.0       China
1    2  หญิง  74.0       China
2    3  หญิง  73.0    Thailand
3    4   ชาย  68.0       China
4    5  หญิง  66.0       China

In [37]:
covid_data = data_df[['No.','announce_date','province_of_isolation','province_of_onset','risk']].sample(frac=1)
covid_data.head()

         No.  ...                                              risk
3315    3316  ...                                  State Quarantine
10436  10437  ...     ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
7448    7449  ...                                     Cluster ระยอง
11914  11915  ...                                 Cluster สมุทรสาคร
6460    6461  ...  การค้นหาผู้ป่วยเชิงรุกและค้นหาผู้ติดเชื้อในชุมชน

[5 rows x 5 columns]

### เอาตารางสองอันมาต่อกัน

In [41]:
personalcovid_data = personal_data.merge(covid_data)     # เอาตาราง personal_data เป็นตารางหลัก แล้วเอาตาราง covid_data มาต่อ
personalcovid_data.head()

   No.   sex  ...  province_of_onset                              risk
0    1  หญิง  ...      กรุงเทพมหานคร  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2  หญิง  ...      กรุงเทพมหานคร  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3  หญิง  ...             นครปฐม  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4   ชาย  ...      กรุงเทพมหานคร  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5  หญิง  ...      กรุงเทพมหานคร  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 8 columns]

In [42]:
personalcovid_data = covid_data.merge(personal_data)  # เอาตาราง covid_data เป็นตารางหลัก แล้วเอาตาราง personal_data มาต่อ
personalcovid_data.head()

     No. announce_date province_of_isolation  ...   sex   age nationality
0   3316      8/2/2020                ชลบุรี  ...   ชาย  37.0    Thailand
1  10437     1/11/2021                ชลบุรี  ...   ชาย  24.0    Thailand
2   7449      1/3/2021                 ระยอง  ...  หญิง  24.0    Thailand
3  11915     1/17/2021             สมุทรสาคร  ...   NaN   NaN         NaN
4   6461    12/30/2020               นนทบุรี  ...  หญิง  26.0       Burma

[5 rows x 8 columns]

# Save table

In [43]:
personalcovid_data.to_csv(os.path.join(path,'my_processed_data.csv'))

In [44]:
personalcovid_data.to_csv('my_processed_data.csv')

# Groupby

# Create Pandas table