<a href="https://colab.research.google.com/github/Jittiya/data_viz_2022/blob/main/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd #เพื่อใช้ทำงานกับข้อมูลที่เป็นรูปแบบตาราง
import os           #เพื่อจัดการกับไฟล์ และ ตัว path ที่เราจะนำเข้า

In [2]:
from google.colab import drive # เชื่อมบัญชีกับ google drive
drive.mount('/content/drive') # เช็คว่าเชื่อมติดหรือไม่

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
path = '/content/drive/My Drive/dataviz_2021_data/Project'

In [4]:
data1 = pd.read_excel(os.path.join(path,'citizeninfo_health_20200314.xlsx'))
data1

,รหัสหน่วยงาน,กระทรวง,กรม,หน่วยงาน,จังหวัด,หมุดที่ไม่พบความผิดปกติ,ที่อยู่จุดบริการ,ละติจูด,ลองติจูด
0,8899021500001,กระทรวงกลาโหม,กรมแพทย์ทหารบก,โรงพยาบาลค่ายพิชัยดาบหัก,อุตรดิตถ์,Y,102 หมู่ 8 ต.ท่าเสา อ.เมืองอุตรดิตถ์ จ.อุตรดิต...,17.662624,100.138907
1,8899021200003,กระทรวงกลาโหม,กรมแพทย์ทหารเรือ,โรงพยาบาลสมเด็จพระนางเจ้าสิริกิติ์,ชลบุรี,N,NaN,12.689318,100.981585
2,8899021200001,กระทรวงกลาโหม,กรมแพทย์ทหารเรือ,โรงพยาบาลทหารเรือกรุงเทพ,กรุงเทพมหานคร,Y,224 ถนนริมทางรถไฟเก่า แขวงบางนา เขตบางนา กรุงเ...,13.670278,100.588009
3,111020400029,กระทรวงกลาโหม,กองทัพบก,กองทัพบก โรงพยาบาลพระมงกุฎเกล้า,กรุงเทพมหานคร,Y,แขวงทุ่งพญาไท เขตราชเทวี กรุงเทพมหานคร 10400,13.767327,100.534169
4,113020400030,กระทรวงกลาโหม,กองทัพบก,กองทัพบก โรงพยาบาลอานันทมหิดล,ลพบุรี,Y,ต.เขาสามยอด อ.เมืองลพบุรี จ.ลพบุรี 15000,14.849659,100.666970
...,...,...,...,...,...,...,...,...,...
10709,8899417700034,กรุงเทพมหานคร,สำนักอนามัย,ศูนย์บริการสาธารณสุข 21 วัดธาตุทอง,กรุงเทพมหานคร,Y,ถนนสุขุมวิท แขวงพระโขนง เขตคลองเตย กรุงเทพมหาน...,13.719146,100.585634
10710,8899417700072,กรุงเทพมหานคร,สำนักอนามัย,ศูนย์บริการสาธารณสุข 59 ทุ่งครุ,กรุงเทพมหานคร,Y,บ้านเลขที่ 46 ศูนย์บริการสาธารณสุข 59 ทุ่งครุ ...,13.607237,100.506656
10711,8899417700052,กรุงเทพมหานคร,สำนักอนามัย,ศูนย์บริการสาธารณสุข 39 ราษฎร์บูรณะ,กรุงเทพมหานคร,Y,ถนนราษฎร์บูรณะ แขวงราษฎร์บูรณะ เขตราษฎร์บูรณะ ...,13.680928,100.506805
10712,8899417700073,กรุงเทพมหานคร,สำนักอนามัย,ศูนย์บริการสาธารณสุข 60 รสสุคนธ์ มโนชญากรณ์,กรุงเทพมหานคร,Y,60 ซอยสรงประภา 11 แขวงดอนเมือง เขตดอนเมือง กรุ...,13.925453,100.580734
10713,8899417700032,กรุงเทพมหานคร,สำนักอนามัย,ศูนย์บริการสาธารณสุข 19 วงศ์สว่าง,กรุงเทพมหานคร,Y,วงศ์สว่าง 27 (ซอยสายลม) แขวงวงศ์สว่าง เขตบางซื...,13.827509,100.526282

In [5]:
data1.dropna()

,รหัสหน่วยงาน,กระทรวง,กรม,หน่วยงาน,จังหวัด,หมุดที่ไม่พบความผิดปกติ,ที่อยู่จุดบริการ,ละติจูด,ลองติจูด
0,8899021500001,กระทรวงกลาโหม,กรมแพทย์ทหารบก,โรงพยาบาลค่ายพิชัยดาบหัก,อุตรดิตถ์,Y,102 หมู่ 8 ต.ท่าเสา อ.เมืองอุตรดิตถ์ จ.อุตรดิต...,17.662624,100.138907
2,8899021200001,กระทรวงกลาโหม,กรมแพทย์ทหารเรือ,โรงพยาบาลทหารเรือกรุงเทพ,กรุงเทพมหานคร,Y,224 ถนนริมทางรถไฟเก่า แขวงบางนา เขตบางนา กรุงเ...,13.670278,100.588009
3,111020400029,กระทรวงกลาโหม,กองทัพบก,กองทัพบก โรงพยาบาลพระมงกุฎเกล้า,กรุงเทพมหานคร,Y,แขวงทุ่งพญาไท เขตราชเทวี กรุงเทพมหานคร 10400,13.767327,100.534169
4,113020400030,กระทรวงกลาโหม,กองทัพบก,กองทัพบก โรงพยาบาลอานันทมหิดล,ลพบุรี,Y,ต.เขาสามยอด อ.เมืองลพบุรี จ.ลพบุรี 15000,14.849659,100.666970
5,8899020600012,กระทรวงกลาโหม,กองทัพอากาศ,โรงพยาบาลภูมิพลอดุลยเดช กรมแพทย์ทหารอากาศ,กรุงเทพมหานคร,Y,แขวงคลองถนน เขตสายไหม กรุงเทพมหานคร 10220,13.909294,100.618019
...,...,...,...,...,...,...,...,...,...
10709,8899417700034,กรุงเทพมหานคร,สำนักอนามัย,ศูนย์บริการสาธารณสุข 21 วัดธาตุทอง,กรุงเทพมหานคร,Y,ถนนสุขุมวิท แขวงพระโขนง เขตคลองเตย กรุงเทพมหาน...,13.719146,100.585634
10710,8899417700072,กรุงเทพมหานคร,สำนักอนามัย,ศูนย์บริการสาธารณสุข 59 ทุ่งครุ,กรุงเทพมหานคร,Y,บ้านเลขที่ 46 ศูนย์บริการสาธารณสุข 59 ทุ่งครุ ...,13.607237,100.506656
10711,8899417700052,กรุงเทพมหานคร,สำนักอนามัย,ศูนย์บริการสาธารณสุข 39 ราษฎร์บูรณะ,กรุงเทพมหานคร,Y,ถนนราษฎร์บูรณะ แขวงราษฎร์บูรณะ เขตราษฎร์บูรณะ ...,13.680928,100.506805
10712,8899417700073,กรุงเทพมหานคร,สำนักอนามัย,ศูนย์บริการสาธารณสุข 60 รสสุคนธ์ มโนชญากรณ์,กรุงเทพมหานคร,Y,60 ซอยสรงประภา 11 แขวงดอนเมือง เขตดอนเมือง กรุ...,13.925453,100.580734
10713,8899417700032,กรุงเทพมหานคร,สำนักอนามัย,ศูนย์บริการสาธารณสุข 19 วงศ์สว่าง,กรุงเทพมหานคร,Y,วงศ์สว่าง 27 (ซอยสายลม) แขวงวงศ์สว่าง เขตบางซื...,13.827509,100.526282

In [6]:
removes = data1.shape[0] - data1.dropna().shape[0]
print(f'size before drop = {data1.shape[0]}')
print(f'size after drop = {data1.dropna().shape[0]}')
print(f'we lost {100*(removes/data1.shape[0])}% of data')

size before drop = 10714
size after drop = 10622
we lost 0.8586895650550682% of data

In [7]:
data2 = pd.read_excel(os.path.join(path,'confirmed-cases-since-120864.xlsx'))
data2

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,816990,2021-08-12,2021-08-11,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
1,816991,2021-08-12,2021-08-11,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
2,816992,2021-08-12,2021-08-11,ชาย,35.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
3,816993,2021-08-12,2021-08-11,หญิง,33.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
4,816994,2021-08-12,2021-08-11,หญิง,14.0,ปี,Thailand,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1042163,1859153,2021-10-25,2021-10-24,ชาย,45.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042164,1859154,2021-10-25,2021-10-24,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042165,1859155,2021-10-25,2021-10-24,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042166,1859156,2021-10-25,2021-10-24,ชาย,24.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042167,1859157,2021-10-25,2021-10-24,ชาย,25.0,ปี,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [8]:
data3 = pd.read_excel(os.path.join(path,'confirmed-cases-since-271064.xlsx'))
data3

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1859158,2021-10-26,2021-10-25,ชาย,20,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
1,1859159,2021-10-26,2021-10-25,หญิง,42,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
2,1859160,2021-10-26,2021-10-25,หญิง,33,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
3,1859161,2021-10-26,2021-10-25,หญิง,52,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
4,1859162,2021-10-26,2021-10-25,หญิง,84,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง
...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010455,2869613,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010456,2869614,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010457,2869615,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010458,2869616,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [9]:
data4 = pd.read_excel(os.path.join(path,'confirmed-cases-since-280265.xlsx'))
data4

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,2022-02-28,2022-02-27,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,2022-02-28,2022-02-27,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,2022-02-28,2022-02-27,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,2022-02-28,2022-02-27,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,2022-02-28,2022-02-27,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
406477,3276094,2022-03-17,2022-03-16,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
406478,3276095,2022-03-17,2022-03-16,ชาย,NaN,NaN,NaN,นครศรีธรรมราช,ทัณฑสถาน/เรือนจำ,NaN,NaN
406479,3276096,2022-03-17,2022-03-16,ชาย,NaN,NaN,NaN,นครศรีธรรมราช,ทัณฑสถาน/เรือนจำ,NaN,NaN
406480,3276097,2022-03-17,2022-03-16,หญิง,NaN,NaN,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN
406481,3276098,2022-03-17,2022-03-16,ชาย,NaN,NaN,NaN,ปทุมธานี,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [10]:
data5 = pd.read_excel(os.path.join(path,'confirmed-cases.xlsx'))
data5

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,2020-01-12,NaT,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,2020-01-17,NaT,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,2020-01-22,NaT,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,2020-01-22,NaT,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,2020-01-24,NaT,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
816984,816985,2021-08-11,2021-08-10,หญิง,8.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
816985,816986,2021-08-11,2021-08-10,ชาย,14.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
816986,816987,2021-08-11,2021-08-10,ชาย,59.0,ปี,Thailand,สระแก้ว,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,สระแก้ว,อรัญประเทศ
816987,816988,2021-08-11,2021-08-10,หญิง,34.0,ปี,Thailand,สระแก้ว,อื่นๆ,กรุงเทพมหานคร,บางขุนเทียน
816988,816989,2021-08-11,2021-08-10,หญิง,19.0,ปี,Thailand,สระแก้ว,อื่นๆ,พระนครศรีอยุธยา,อุทัย

In [11]:
data_merged = pd.concat([data5,data2,data3,data4])
data_merged

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,2020-01-12,NaT,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,2020-01-17,NaT,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,2020-01-22,NaT,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,2020-01-22,NaT,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,2020-01-24,NaT,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
406477,3276094,2022-03-17,2022-03-16,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
406478,3276095,2022-03-17,2022-03-16,ชาย,NaN,NaN,NaN,นครศรีธรรมราช,ทัณฑสถาน/เรือนจำ,NaN,NaN
406479,3276096,2022-03-17,2022-03-16,ชาย,NaN,NaN,NaN,นครศรีธรรมราช,ทัณฑสถาน/เรือนจำ,NaN,NaN
406480,3276097,2022-03-17,2022-03-16,หญิง,NaN,NaN,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN
406481,3276098,2022-03-17,2022-03-16,ชาย,NaN,NaN,NaN,ปทุมธานี,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [12]:
data_merged1 = data_merged[['No.','announce_date','sex','age','Unit','announce_date','province_of_isolation','risk']]
data_merged1

,No.,announce_date,sex,age,Unit,announce_date,province_of_isolation,risk
0,1,2020-01-12,หญิง,61.0,ปี,2020-01-12,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
1,2,2020-01-17,หญิง,74.0,ปี,2020-01-17,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
2,3,2020-01-22,หญิง,73.0,ปี,2020-01-22,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ
3,4,2020-01-22,ชาย,68.0,ปี,2020-01-22,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
4,5,2020-01-24,หญิง,66.0,ปี,2020-01-24,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ
...,...,...,...,...,...,...,...,...
406477,3276094,2022-03-17,ชาย,NaN,NaN,2022-03-17,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ
406478,3276095,2022-03-17,ชาย,NaN,NaN,2022-03-17,นครศรีธรรมราช,ทัณฑสถาน/เรือนจำ
406479,3276096,2022-03-17,ชาย,NaN,NaN,2022-03-17,นครศรีธรรมราช,ทัณฑสถาน/เรือนจำ
406480,3276097,2022-03-17,หญิง,NaN,NaN,2022-03-17,เชียงใหม่,ทัณฑสถาน/เรือนจำ
406481,3276098,2022-03-17,ชาย,NaN,NaN,2022-03-17,ปทุมธานี,ทัณฑสถาน/เรือนจำ

In [13]:
data_merged1.dropna()

,No.,announce_date,sex,age,Unit,announce_date,province_of_isolation,risk
0,1,2020-01-12,หญิง,61.0,ปี,2020-01-12,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
1,2,2020-01-17,หญิง,74.0,ปี,2020-01-17,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
2,3,2020-01-22,หญิง,73.0,ปี,2020-01-22,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ
3,4,2020-01-22,ชาย,68.0,ปี,2020-01-22,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
4,5,2020-01-24,หญิง,66.0,ปี,2020-01-24,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ
...,...,...,...,...,...,...,...,...
406423,3276040,2022-03-17,ชาย,11.0,ปี,2022-03-17,กรุงเทพมหานคร,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
406424,3276041,2022-03-17,หญิง,52.0,ปี,2022-03-17,กรุงเทพมหานคร,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
406425,3276042,2022-03-17,ชาย,27.0,ปี,2022-03-17,กรุงเทพมหานคร,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
406426,3276043,2022-03-17,ชาย,52.0,ปี,2022-03-17,กรุงเทพมหานคร,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
406427,3276044,2022-03-17,ชาย,34.0,ปี,2022-03-17,กรุงเทพมหานคร,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว

In [14]:
removes = data_merged1.shape[0] - data_merged1.dropna().shape[0]
print(f'size before drop = {data_merged1.shape[0]}')
print(f'size after drop = {data_merged1.dropna().shape[0]}')
print(f'we lost {100*(removes/data_merged1.shape[0])}% of data')

size before drop = 3276098
size after drop = 2891763
we lost 11.731486664928827% of data

In [15]:
data6 = pd.read_csv(os.path.join(path,'data of region.csv'))
data6

,Unnamed: 0,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว)
0,0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
1,1,บึงกาฬ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2,2,บุรีรัมย์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
3,3,ชัยภูมิ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
4,4,กาฬสินธุ์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...,...
72,72,พังงา,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
73,73,ภูเก็ต,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
74,74,ระนอง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
75,75,สตูล,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
76,76,ตรัง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้

In [16]:
data_merged2 = data_merged1.merge(data6,how='left',left_on='province_of_isolation',right_on='จังหวัด')
data_merged2
#เชื่อมตาราง data_merged1 และ data6 โดยใช้ province_of_isolation และ จังหวัด เป็นตัวเชื่อมอ้างอิง เพราะเราจะพิจารณาข้อมูลที่มีค่าข้อมูลเหมือนกัน

,No.,announce_date,sex,age,Unit,announce_date,province_of_isolation,risk,Unnamed: 0,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว)
0,1,2020-01-12,หญิง,61.0,ปี,2020-01-12,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,40.0,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
1,2,2020-01-17,หญิง,74.0,ปี,2020-01-17,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,40.0,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
2,3,2020-01-22,หญิง,73.0,ปี,2020-01-22,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,42.0,นครปฐม,กลาง,กลาง,กลาง,กลาง
3,4,2020-01-22,ชาย,68.0,ปี,2020-01-22,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,40.0,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
4,5,2020-01-24,หญิง,66.0,ปี,2020-01-24,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,43.0,นนทบุรี,กลาง,กลาง,กลาง,กลาง
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3276093,3276094,2022-03-17,ชาย,NaN,NaN,2022-03-17,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,40.0,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
3276094,3276095,2022-03-17,ชาย,NaN,NaN,2022-03-17,นครศรีธรรมราช,ทัณฑสถาน/เรือนจำ,64.0,นครศรีธรรมราช,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้
3276095,3276096,2022-03-17,ชาย,NaN,NaN,2022-03-17,นครศรีธรรมราช,ทัณฑสถาน/เรือนจำ,64.0,นครศรีธรรมราช,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้
3276096,3276097,2022-03-17,หญิง,NaN,NaN,2022-03-17,เชียงใหม่,ทัณฑสถาน/เรือนจำ,20.0,เชียงใหม่,เหนือ,เหนือ,เหนือ,เหนือ
3276097,3276098,2022-03-17,ชาย,NaN,NaN,2022-03-17,ปทุมธานี,ทัณฑสถาน/เรือนจำ,44.0,ปทุมธานี,กลาง,กลาง,กลาง,กลาง

In [17]:
data_merged3 = data_merged2[['No.','announce_date','sex','age','Unit','announce_date','province_of_isolation','risk','จังหวัด','6 ภูมิภาค (ภูมิศาสตร์)']]
data_merged3

,No.,announce_date,announce_date,sex,age,Unit,announce_date,announce_date,province_of_isolation,risk,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์)
0,1,2020-01-12,2020-01-12,หญิง,61.0,ปี,2020-01-12,2020-01-12,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กลาง
1,2,2020-01-17,2020-01-17,หญิง,74.0,ปี,2020-01-17,2020-01-17,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กลาง
2,3,2020-01-22,2020-01-22,หญิง,73.0,ปี,2020-01-22,2020-01-22,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,กลาง
3,4,2020-01-22,2020-01-22,ชาย,68.0,ปี,2020-01-22,2020-01-22,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กลาง
4,5,2020-01-24,2020-01-24,หญิง,66.0,ปี,2020-01-24,2020-01-24,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,นนทบุรี,กลาง
...,...,...,...,...,...,...,...,...,...,...,...,...
3276093,3276094,2022-03-17,2022-03-17,ชาย,NaN,NaN,2022-03-17,2022-03-17,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,กลาง
3276094,3276095,2022-03-17,2022-03-17,ชาย,NaN,NaN,2022-03-17,2022-03-17,นครศรีธรรมราช,ทัณฑสถาน/เรือนจำ,นครศรีธรรมราช,ใต้
3276095,3276096,2022-03-17,2022-03-17,ชาย,NaN,NaN,2022-03-17,2022-03-17,นครศรีธรรมราช,ทัณฑสถาน/เรือนจำ,นครศรีธรรมราช,ใต้
3276096,3276097,2022-03-17,2022-03-17,หญิง,NaN,NaN,2022-03-17,2022-03-17,เชียงใหม่,ทัณฑสถาน/เรือนจำ,เชียงใหม่,เหนือ
3276097,3276098,2022-03-17,2022-03-17,ชาย,NaN,NaN,2022-03-17,2022-03-17,ปทุมธานี,ทัณฑสถาน/เรือนจำ,ปทุมธานี,กลาง

In [18]:
data1_cut = data1[['หน่วยงาน','จังหวัด','ที่อยู่จุดบริการ','ละติจูด','ลองติจูด']]
data1_cut

,หน่วยงาน,จังหวัด,ที่อยู่จุดบริการ,ละติจูด,ลองติจูด
0,โรงพยาบาลค่ายพิชัยดาบหัก,อุตรดิตถ์,102 หมู่ 8 ต.ท่าเสา อ.เมืองอุตรดิตถ์ จ.อุตรดิต...,17.662624,100.138907
1,โรงพยาบาลสมเด็จพระนางเจ้าสิริกิติ์,ชลบุรี,NaN,12.689318,100.981585
2,โรงพยาบาลทหารเรือกรุงเทพ,กรุงเทพมหานคร,224 ถนนริมทางรถไฟเก่า แขวงบางนา เขตบางนา กรุงเ...,13.670278,100.588009
3,กองทัพบก โรงพยาบาลพระมงกุฎเกล้า,กรุงเทพมหานคร,แขวงทุ่งพญาไท เขตราชเทวี กรุงเทพมหานคร 10400,13.767327,100.534169
4,กองทัพบก โรงพยาบาลอานันทมหิดล,ลพบุรี,ต.เขาสามยอด อ.เมืองลพบุรี จ.ลพบุรี 15000,14.849659,100.666970
...,...,...,...,...,...
10709,ศูนย์บริการสาธารณสุข 21 วัดธาตุทอง,กรุงเทพมหานคร,ถนนสุขุมวิท แขวงพระโขนง เขตคลองเตย กรุงเทพมหาน...,13.719146,100.585634
10710,ศูนย์บริการสาธารณสุข 59 ทุ่งครุ,กรุงเทพมหานคร,บ้านเลขที่ 46 ศูนย์บริการสาธารณสุข 59 ทุ่งครุ ...,13.607237,100.506656
10711,ศูนย์บริการสาธารณสุข 39 ราษฎร์บูรณะ,กรุงเทพมหานคร,ถนนราษฎร์บูรณะ แขวงราษฎร์บูรณะ เขตราษฎร์บูรณะ ...,13.680928,100.506805
10712,ศูนย์บริการสาธารณสุข 60 รสสุคนธ์ มโนชญากรณ์,กรุงเทพมหานคร,60 ซอยสรงประภา 11 แขวงดอนเมือง เขตดอนเมือง กรุ...,13.925453,100.580734
10713,ศูนย์บริการสาธารณสุข 19 วงศ์สว่าง,กรุงเทพมหานคร,วงศ์สว่าง 27 (ซอยสายลม) แขวงวงศ์สว่าง เขตบางซื...,13.827509,100.526282

In [19]:
data1_cut.dropna()

,หน่วยงาน,จังหวัด,ที่อยู่จุดบริการ,ละติจูด,ลองติจูด
0,โรงพยาบาลค่ายพิชัยดาบหัก,อุตรดิตถ์,102 หมู่ 8 ต.ท่าเสา อ.เมืองอุตรดิตถ์ จ.อุตรดิต...,17.662624,100.138907
2,โรงพยาบาลทหารเรือกรุงเทพ,กรุงเทพมหานคร,224 ถนนริมทางรถไฟเก่า แขวงบางนา เขตบางนา กรุงเ...,13.670278,100.588009
3,กองทัพบก โรงพยาบาลพระมงกุฎเกล้า,กรุงเทพมหานคร,แขวงทุ่งพญาไท เขตราชเทวี กรุงเทพมหานคร 10400,13.767327,100.534169
4,กองทัพบก โรงพยาบาลอานันทมหิดล,ลพบุรี,ต.เขาสามยอด อ.เมืองลพบุรี จ.ลพบุรี 15000,14.849659,100.666970
5,โรงพยาบาลภูมิพลอดุลยเดช กรมแพทย์ทหารอากาศ,กรุงเทพมหานคร,แขวงคลองถนน เขตสายไหม กรุงเทพมหานคร 10220,13.909294,100.618019
...,...,...,...,...,...
10709,ศูนย์บริการสาธารณสุข 21 วัดธาตุทอง,กรุงเทพมหานคร,ถนนสุขุมวิท แขวงพระโขนง เขตคลองเตย กรุงเทพมหาน...,13.719146,100.585634
10710,ศูนย์บริการสาธารณสุข 59 ทุ่งครุ,กรุงเทพมหานคร,บ้านเลขที่ 46 ศูนย์บริการสาธารณสุข 59 ทุ่งครุ ...,13.607237,100.506656
10711,ศูนย์บริการสาธารณสุข 39 ราษฎร์บูรณะ,กรุงเทพมหานคร,ถนนราษฎร์บูรณะ แขวงราษฎร์บูรณะ เขตราษฎร์บูรณะ ...,13.680928,100.506805
10712,ศูนย์บริการสาธารณสุข 60 รสสุคนธ์ มโนชญากรณ์,กรุงเทพมหานคร,60 ซอยสรงประภา 11 แขวงดอนเมือง เขตดอนเมือง กรุ...,13.925453,100.580734
10713,ศูนย์บริการสาธารณสุข 19 วงศ์สว่าง,กรุงเทพมหานคร,วงศ์สว่าง 27 (ซอยสายลม) แขวงวงศ์สว่าง เขตบางซื...,13.827509,100.526282

In [20]:
removes = data1_cut.shape[0] - data1_cut.dropna().shape[0]
print(f'size before drop = {data1_cut.shape[0]}')
print(f'size after drop = {data1_cut.dropna().shape[0]}')
print(f'we lost {100*(removes/data1_cut.shape[0])}% of data')

size before drop = 10714
size after drop = 10622
we lost 0.8586895650550682% of data

In [21]:
#data_merged4 = data_merged3.merge(data1_cut,how='left',left_on='province_of_isolation',right_on='จังหวัด')
#data_merged4
#เชื่อมตาราง data_merged3 และ data1_cut โดยใช้ province_of_isolation และ จังหวัด เป็นตัวเชื่อมอ้างอิง เพราะเราจะพิจารณาข้อมูลที่มีค่าข้อมูลเหมือนกัน

In [25]:
data_df = data_merged3.dropna()
data_df

,No.,announce_date,announce_date,sex,age,Unit,announce_date,announce_date,province_of_isolation,risk,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์)
0,1,2020-01-12,2020-01-12,หญิง,61.0,ปี,2020-01-12,2020-01-12,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กลาง
1,2,2020-01-17,2020-01-17,หญิง,74.0,ปี,2020-01-17,2020-01-17,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กลาง
2,3,2020-01-22,2020-01-22,หญิง,73.0,ปี,2020-01-22,2020-01-22,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,กลาง
3,4,2020-01-22,2020-01-22,ชาย,68.0,ปี,2020-01-22,2020-01-22,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กลาง
4,5,2020-01-24,2020-01-24,หญิง,66.0,ปี,2020-01-24,2020-01-24,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,นนทบุรี,กลาง
...,...,...,...,...,...,...,...,...,...,...,...,...
3276039,3276040,2022-03-17,2022-03-17,ชาย,11.0,ปี,2022-03-17,2022-03-17,กรุงเทพมหานคร,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,กรุงเทพมหานคร,กลาง
3276040,3276041,2022-03-17,2022-03-17,หญิง,52.0,ปี,2022-03-17,2022-03-17,กรุงเทพมหานคร,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,กรุงเทพมหานคร,กลาง
3276041,3276042,2022-03-17,2022-03-17,ชาย,27.0,ปี,2022-03-17,2022-03-17,กรุงเทพมหานคร,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,กรุงเทพมหานคร,กลาง
3276042,3276043,2022-03-17,2022-03-17,ชาย,52.0,ปี,2022-03-17,2022-03-17,กรุงเทพมหานคร,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,กรุงเทพมหานคร,กลาง
3276043,3276044,2022-03-17,2022-03-17,ชาย,34.0,ปี,2022-03-17,2022-03-17,กรุงเทพมหานคร,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,กรุงเทพมหานคร,กลาง

In [26]:
removes = data_df.shape[0] - data_df.dropna().shape[0]
print(f'size before drop = {data_df.shape[0]}')
print(f'size after drop = {data_df.dropna().shape[0]}')
print(f'we lost {100*(removes/data_df.shape[0])}% of data')

size before drop = 2880777
size after drop = 2880777
we lost 0.0% of data

In [27]:
data_gps = data1_cut.dropna()
data_gps

,หน่วยงาน,จังหวัด,ที่อยู่จุดบริการ,ละติจูด,ลองติจูด
0,โรงพยาบาลค่ายพิชัยดาบหัก,อุตรดิตถ์,102 หมู่ 8 ต.ท่าเสา อ.เมืองอุตรดิตถ์ จ.อุตรดิต...,17.662624,100.138907
2,โรงพยาบาลทหารเรือกรุงเทพ,กรุงเทพมหานคร,224 ถนนริมทางรถไฟเก่า แขวงบางนา เขตบางนา กรุงเ...,13.670278,100.588009
3,กองทัพบก โรงพยาบาลพระมงกุฎเกล้า,กรุงเทพมหานคร,แขวงทุ่งพญาไท เขตราชเทวี กรุงเทพมหานคร 10400,13.767327,100.534169
4,กองทัพบก โรงพยาบาลอานันทมหิดล,ลพบุรี,ต.เขาสามยอด อ.เมืองลพบุรี จ.ลพบุรี 15000,14.849659,100.666970
5,โรงพยาบาลภูมิพลอดุลยเดช กรมแพทย์ทหารอากาศ,กรุงเทพมหานคร,แขวงคลองถนน เขตสายไหม กรุงเทพมหานคร 10220,13.909294,100.618019
...,...,...,...,...,...
10709,ศูนย์บริการสาธารณสุข 21 วัดธาตุทอง,กรุงเทพมหานคร,ถนนสุขุมวิท แขวงพระโขนง เขตคลองเตย กรุงเทพมหาน...,13.719146,100.585634
10710,ศูนย์บริการสาธารณสุข 59 ทุ่งครุ,กรุงเทพมหานคร,บ้านเลขที่ 46 ศูนย์บริการสาธารณสุข 59 ทุ่งครุ ...,13.607237,100.506656
10711,ศูนย์บริการสาธารณสุข 39 ราษฎร์บูรณะ,กรุงเทพมหานคร,ถนนราษฎร์บูรณะ แขวงราษฎร์บูรณะ เขตราษฎร์บูรณะ ...,13.680928,100.506805
10712,ศูนย์บริการสาธารณสุข 60 รสสุคนธ์ มโนชญากรณ์,กรุงเทพมหานคร,60 ซอยสรงประภา 11 แขวงดอนเมือง เขตดอนเมือง กรุ...,13.925453,100.580734
10713,ศูนย์บริการสาธารณสุข 19 วงศ์สว่าง,กรุงเทพมหานคร,วงศ์สว่าง 27 (ซอยสายลม) แขวงวงศ์สว่าง เขตบางซื...,13.827509,100.526282