<a href="https://colab.research.google.com/github/Jittiya/data_viz_2022/blob/main/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Data

In [127]:
import pandas as pd #เพื่อใช้ทำงานกับข้อมูลที่เป็นรูปแบบตาราง
import os           #เพื่อจัดการกับไฟล์ และ ตัว path ที่เราจะนำเข้า

In [128]:
from google.colab import drive # เชื่อมบัญชีกับ google drive
drive.mount('/content/drive') # เช็คว่าเชื่อมติดหรือไม่

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [129]:
path = '/content/drive/My Drive/dataviz_2021_data/Project'

## Data 1 เป็น data พิกัดของโรงพยาบาล

In [130]:
data1 = pd.read_excel(os.path.join(path,'citizeninfo_health_20200314.xlsx'))
data1

,รหัสหน่วยงาน,กระทรวง,กรม,หน่วยงาน,จังหวัด,หมุดที่ไม่พบความผิดปกติ,ที่อยู่จุดบริการ,ละติจูด,ลองติจูด
0,8899021500001,กระทรวงกลาโหม,กรมแพทย์ทหารบก,โรงพยาบาลค่ายพิชัยดาบหัก,อุตรดิตถ์,Y,102 หมู่ 8 ต.ท่าเสา อ.เมืองอุตรดิตถ์ จ.อุตรดิต...,17.662624,100.138907
1,8899021200003,กระทรวงกลาโหม,กรมแพทย์ทหารเรือ,โรงพยาบาลสมเด็จพระนางเจ้าสิริกิติ์,ชลบุรี,N,NaN,12.689318,100.981585
2,8899021200001,กระทรวงกลาโหม,กรมแพทย์ทหารเรือ,โรงพยาบาลทหารเรือกรุงเทพ,กรุงเทพมหานคร,Y,224 ถนนริมทางรถไฟเก่า แขวงบางนา เขตบางนา กรุงเ...,13.670278,100.588009
3,111020400029,กระทรวงกลาโหม,กองทัพบก,กองทัพบก โรงพยาบาลพระมงกุฎเกล้า,กรุงเทพมหานคร,Y,แขวงทุ่งพญาไท เขตราชเทวี กรุงเทพมหานคร 10400,13.767327,100.534169
4,113020400030,กระทรวงกลาโหม,กองทัพบก,กองทัพบก โรงพยาบาลอานันทมหิดล,ลพบุรี,Y,ต.เขาสามยอด อ.เมืองลพบุรี จ.ลพบุรี 15000,14.849659,100.666970
...,...,...,...,...,...,...,...,...,...
10709,8899417700034,กรุงเทพมหานคร,สำนักอนามัย,ศูนย์บริการสาธารณสุข 21 วัดธาตุทอง,กรุงเทพมหานคร,Y,ถนนสุขุมวิท แขวงพระโขนง เขตคลองเตย กรุงเทพมหาน...,13.719146,100.585634
10710,8899417700072,กรุงเทพมหานคร,สำนักอนามัย,ศูนย์บริการสาธารณสุข 59 ทุ่งครุ,กรุงเทพมหานคร,Y,บ้านเลขที่ 46 ศูนย์บริการสาธารณสุข 59 ทุ่งครุ ...,13.607237,100.506656
10711,8899417700052,กรุงเทพมหานคร,สำนักอนามัย,ศูนย์บริการสาธารณสุข 39 ราษฎร์บูรณะ,กรุงเทพมหานคร,Y,ถนนราษฎร์บูรณะ แขวงราษฎร์บูรณะ เขตราษฎร์บูรณะ ...,13.680928,100.506805
10712,8899417700073,กรุงเทพมหานคร,สำนักอนามัย,ศูนย์บริการสาธารณสุข 60 รสสุคนธ์ มโนชญากรณ์,กรุงเทพมหานคร,Y,60 ซอยสรงประภา 11 แขวงดอนเมือง เขตดอนเมือง กรุ...,13.925453,100.580734
10713,8899417700032,กรุงเทพมหานคร,สำนักอนามัย,ศูนย์บริการสาธารณสุข 19 วงศ์สว่าง,กรุงเทพมหานคร,Y,วงศ์สว่าง 27 (ซอยสายลม) แขวงวงศ์สว่าง เขตบางซื...,13.827509,100.526282

## Data 2 Data COVID-19 ประจำวัน เริ่มตั้งแต่วันที่ 12 สิงหาคม 2564 ถึง 25 ตุลาคม 2564

In [131]:
data2 = pd.read_excel(os.path.join(path,'confirmed-cases-since-120864.xlsx'))
data2

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,816990,2021-08-12,2021-08-11,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
1,816991,2021-08-12,2021-08-11,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
2,816992,2021-08-12,2021-08-11,ชาย,35.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
3,816993,2021-08-12,2021-08-11,หญิง,33.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
4,816994,2021-08-12,2021-08-11,หญิง,14.0,ปี,Thailand,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1042163,1859153,2021-10-25,2021-10-24,ชาย,45.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042164,1859154,2021-10-25,2021-10-24,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042165,1859155,2021-10-25,2021-10-24,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042166,1859156,2021-10-25,2021-10-24,ชาย,24.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042167,1859157,2021-10-25,2021-10-24,ชาย,25.0,ปี,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

## Data 3 Data COVID-19 ประจำวัน เริ่มตั้งแต่วันที่ 26 ตุลาคม 2564 ถึง 27 กุมภาพันธ์ 2565

In [132]:
data3 = pd.read_excel(os.path.join(path,'confirmed-cases-since-271064.xlsx'))
data3

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1859158,2021-10-26,2021-10-25,ชาย,20,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
1,1859159,2021-10-26,2021-10-25,หญิง,42,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
2,1859160,2021-10-26,2021-10-25,หญิง,33,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
3,1859161,2021-10-26,2021-10-25,หญิง,52,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
4,1859162,2021-10-26,2021-10-25,หญิง,84,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง
...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010455,2869613,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010456,2869614,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010457,2869615,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010458,2869616,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN

## Data 4 Data COVID-19 ประจำวัน เริ่มตั้งแต่วันที่ 28 กุมภาพันธ์ 2565 ถึง 17 มีนาคม 2565

In [133]:
data4 = pd.read_excel(os.path.join(path,'confirmed-cases-since-280265.xlsx'))
data4

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,2022-02-28,2022-02-27,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,2022-02-28,2022-02-27,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,2022-02-28,2022-02-27,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,2022-02-28,2022-02-27,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,2022-02-28,2022-02-27,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
406477,3276094,2022-03-17,2022-03-16,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
406478,3276095,2022-03-17,2022-03-16,ชาย,NaN,NaN,NaN,นครศรีธรรมราช,ทัณฑสถาน/เรือนจำ,NaN,NaN
406479,3276096,2022-03-17,2022-03-16,ชาย,NaN,NaN,NaN,นครศรีธรรมราช,ทัณฑสถาน/เรือนจำ,NaN,NaN
406480,3276097,2022-03-17,2022-03-16,หญิง,NaN,NaN,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN
406481,3276098,2022-03-17,2022-03-16,ชาย,NaN,NaN,NaN,ปทุมธานี,ทัณฑสถาน/เรือนจำ,NaN,NaN

## Data 5 Data COVID-19 ประจำวัน เริ่มตั้งแต่วันที่ 12 มกราคม 2563 ถึง 11 สิงหาคม 2564

In [134]:
data5 = pd.read_excel(os.path.join(path,'confirmed-cases.xlsx'))
data5

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,2020-01-12,NaT,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,2020-01-17,NaT,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,2020-01-22,NaT,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,2020-01-22,NaT,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,2020-01-24,NaT,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
816984,816985,2021-08-11,2021-08-10,หญิง,8.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
816985,816986,2021-08-11,2021-08-10,ชาย,14.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
816986,816987,2021-08-11,2021-08-10,ชาย,59.0,ปี,Thailand,สระแก้ว,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,สระแก้ว,อรัญประเทศ
816987,816988,2021-08-11,2021-08-10,หญิง,34.0,ปี,Thailand,สระแก้ว,อื่นๆ,กรุงเทพมหานคร,บางขุนเทียน
816988,816989,2021-08-11,2021-08-10,หญิง,19.0,ปี,Thailand,สระแก้ว,อื่นๆ,พระนครศรีอยุธยา,อุทัย

## Data 6 Data ภูมิภาคในประเทศไทย

In [135]:
data6 = pd.read_csv(os.path.join(path,'data of region.csv'))
data6

,Unnamed: 0,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว)
0,0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
1,1,บึงกาฬ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2,2,บุรีรัมย์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
3,3,ชัยภูมิ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
4,4,กาฬสินธุ์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...,...
72,72,พังงา,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
73,73,ภูเก็ต,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
74,74,ระนอง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
75,75,สตูล,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
76,76,ตรัง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้

# Data Preprocessing

## Data 1

### ตรวจสอบค่า missing

In [136]:
data1.isnull().any()  # ตรวจสอบหาค่า missing

รหัสหน่วยงาน               False
กระทรวง                    False
กรม                        False
หน่วยงาน                   False
จังหวัด                    False
หมุดที่ไม่พบความผิดปกติ    False
ที่อยู่จุดบริการ            True
ละติจูด                     True
ลองติจูด                    True
dtype: bool

จากการตรวจสอบพบว่าข้อมูลค่า missing เราจะทำการ dropna() เพื่อนำค่า missing นั้นออกไป

In [137]:
data1.dropna()   # dropna ลบค่า missing ออก

,รหัสหน่วยงาน,กระทรวง,กรม,หน่วยงาน,จังหวัด,หมุดที่ไม่พบความผิดปกติ,ที่อยู่จุดบริการ,ละติจูด,ลองติจูด
0,8899021500001,กระทรวงกลาโหม,กรมแพทย์ทหารบก,โรงพยาบาลค่ายพิชัยดาบหัก,อุตรดิตถ์,Y,102 หมู่ 8 ต.ท่าเสา อ.เมืองอุตรดิตถ์ จ.อุตรดิต...,17.662624,100.138907
2,8899021200001,กระทรวงกลาโหม,กรมแพทย์ทหารเรือ,โรงพยาบาลทหารเรือกรุงเทพ,กรุงเทพมหานคร,Y,224 ถนนริมทางรถไฟเก่า แขวงบางนา เขตบางนา กรุงเ...,13.670278,100.588009
3,111020400029,กระทรวงกลาโหม,กองทัพบก,กองทัพบก โรงพยาบาลพระมงกุฎเกล้า,กรุงเทพมหานคร,Y,แขวงทุ่งพญาไท เขตราชเทวี กรุงเทพมหานคร 10400,13.767327,100.534169
4,113020400030,กระทรวงกลาโหม,กองทัพบก,กองทัพบก โรงพยาบาลอานันทมหิดล,ลพบุรี,Y,ต.เขาสามยอด อ.เมืองลพบุรี จ.ลพบุรี 15000,14.849659,100.666970
5,8899020600012,กระทรวงกลาโหม,กองทัพอากาศ,โรงพยาบาลภูมิพลอดุลยเดช กรมแพทย์ทหารอากาศ,กรุงเทพมหานคร,Y,แขวงคลองถนน เขตสายไหม กรุงเทพมหานคร 10220,13.909294,100.618019
...,...,...,...,...,...,...,...,...,...
10709,8899417700034,กรุงเทพมหานคร,สำนักอนามัย,ศูนย์บริการสาธารณสุข 21 วัดธาตุทอง,กรุงเทพมหานคร,Y,ถนนสุขุมวิท แขวงพระโขนง เขตคลองเตย กรุงเทพมหาน...,13.719146,100.585634
10710,8899417700072,กรุงเทพมหานคร,สำนักอนามัย,ศูนย์บริการสาธารณสุข 59 ทุ่งครุ,กรุงเทพมหานคร,Y,บ้านเลขที่ 46 ศูนย์บริการสาธารณสุข 59 ทุ่งครุ ...,13.607237,100.506656
10711,8899417700052,กรุงเทพมหานคร,สำนักอนามัย,ศูนย์บริการสาธารณสุข 39 ราษฎร์บูรณะ,กรุงเทพมหานคร,Y,ถนนราษฎร์บูรณะ แขวงราษฎร์บูรณะ เขตราษฎร์บูรณะ ...,13.680928,100.506805
10712,8899417700073,กรุงเทพมหานคร,สำนักอนามัย,ศูนย์บริการสาธารณสุข 60 รสสุคนธ์ มโนชญากรณ์,กรุงเทพมหานคร,Y,60 ซอยสรงประภา 11 แขวงดอนเมือง เขตดอนเมือง กรุ...,13.925453,100.580734
10713,8899417700032,กรุงเทพมหานคร,สำนักอนามัย,ศูนย์บริการสาธารณสุข 19 วงศ์สว่าง,กรุงเทพมหานคร,Y,วงศ์สว่าง 27 (ซอยสายลม) แขวงวงศ์สว่าง เขตบางซื...,13.827509,100.526282

In [138]:
# ตรวจสอบว่าข้อมูลหายไปเท่าไหร่
removes = data1.shape[0] - data1.dropna().shape[0]
print(f'size before drop = {data1.shape[0]}')
print(f'size after drop = {data1.dropna().shape[0]}')
print(f'we lost {100*(removes/data1.shape[0])}% of data')

size before drop = 10714
size after drop = 10622
we lost 0.8586895650550682% of data

จากการใช้ dropna() ในการลบค่า missing ออกไป เราได้ทำการตรวจเช็คว่าข้อมูลเราหายไปกี่เปอร์เซ็น จากการตรวจสอบพบว่าข้อมูลหายไปทั้งหมด 0.85% แสดงว่าเราใช้การ dropna() ในการลบค่า missing ได้

## เชื่อมตารางข้อมูล

In [139]:
data_merged = pd.concat([data5,data2,data3,data4])   # เชื่อมข้อมูล COVID ทั้ง 4 ตารางเข้าด้วยกัน โดยใช้ pd.concat เป็นการต่อตารางในแนวนอน
data_merged

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,2020-01-12,NaT,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,2020-01-17,NaT,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,2020-01-22,NaT,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,2020-01-22,NaT,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,2020-01-24,NaT,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
406477,3276094,2022-03-17,2022-03-16,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
406478,3276095,2022-03-17,2022-03-16,ชาย,NaN,NaN,NaN,นครศรีธรรมราช,ทัณฑสถาน/เรือนจำ,NaN,NaN
406479,3276096,2022-03-17,2022-03-16,ชาย,NaN,NaN,NaN,นครศรีธรรมราช,ทัณฑสถาน/เรือนจำ,NaN,NaN
406480,3276097,2022-03-17,2022-03-16,หญิง,NaN,NaN,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN
406481,3276098,2022-03-17,2022-03-16,ชาย,NaN,NaN,NaN,ปทุมธานี,ทัณฑสถาน/เรือนจำ,NaN,NaN

จากการเชื่อตารางข้อมูล COVID ทั้งหมด เราจะทำการเลือกข้อมูลที่จะนำมาวิเคราะห์ ได้แก่ ลำดับ, วันที่, เพศ, อายุ, unit(หน่วยนับอายุ), province_of_isolationและ risk

In [140]:
data_merged1 = data_merged[['No.','announce_date','sex','age','Unit','province_of_isolation','risk']]   # ชี้ข้อมูลคอลัมน์ที่ต้องการ
data_merged1

,No.,announce_date,sex,age,Unit,province_of_isolation,risk
0,1,2020-01-12,หญิง,61.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
1,2,2020-01-17,หญิง,74.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
2,3,2020-01-22,หญิง,73.0,ปี,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ
3,4,2020-01-22,ชาย,68.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
4,5,2020-01-24,หญิง,66.0,ปี,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ
...,...,...,...,...,...,...,...
406477,3276094,2022-03-17,ชาย,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ
406478,3276095,2022-03-17,ชาย,NaN,NaN,นครศรีธรรมราช,ทัณฑสถาน/เรือนจำ
406479,3276096,2022-03-17,ชาย,NaN,NaN,นครศรีธรรมราช,ทัณฑสถาน/เรือนจำ
406480,3276097,2022-03-17,หญิง,NaN,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ
406481,3276098,2022-03-17,ชาย,NaN,NaN,ปทุมธานี,ทัณฑสถาน/เรือนจำ

In [141]:
data_merged1.isnull().any()  # ตรวจสอบหาค่า missing

No.                      False
announce_date            False
sex                       True
age                       True
Unit                      True
province_of_isolation     True
risk                      True
dtype: bool

จากการตรวจสอบพบว่าข้อมูลค่า missing เราจะทำการ dropna() เพื่อนำค่า missing นั้นออกไป

In [142]:
data_merged1.dropna()  # dropna ลบค่า missing ออก

,No.,announce_date,sex,age,Unit,province_of_isolation,risk
0,1,2020-01-12,หญิง,61.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
1,2,2020-01-17,หญิง,74.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
2,3,2020-01-22,หญิง,73.0,ปี,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ
3,4,2020-01-22,ชาย,68.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
4,5,2020-01-24,หญิง,66.0,ปี,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ
...,...,...,...,...,...,...,...
406423,3276040,2022-03-17,ชาย,11.0,ปี,กรุงเทพมหานคร,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
406424,3276041,2022-03-17,หญิง,52.0,ปี,กรุงเทพมหานคร,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
406425,3276042,2022-03-17,ชาย,27.0,ปี,กรุงเทพมหานคร,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
406426,3276043,2022-03-17,ชาย,52.0,ปี,กรุงเทพมหานคร,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
406427,3276044,2022-03-17,ชาย,34.0,ปี,กรุงเทพมหานคร,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว

In [143]:
# ตรวจสอบว่าข้อมูลหายไปเท่าไหร่
removes = data_merged1.shape[0] - data_merged1.dropna().shape[0]
print(f'size before drop = {data_merged1.shape[0]}')
print(f'size after drop = {data_merged1.dropna().shape[0]}')
print(f'we lost {100*(removes/data_merged1.shape[0])}% of data')

size before drop = 3276098
size after drop = 2891763
we lost 11.731486664928827% of data

### เชื่อมตารางข้อมูล COVID กับ ข้อมูลภูมิภาค

In [144]:
data6.isnull().any()   # ตรวจสอบหาค่า missing ของข้อมูลภูมิภาค

Unnamed: 0                   False
จังหวัด                      False
6 ภูมิภาค (ภูมิศาสตร์)       False
4 ภูมิภาค (การเมือง)         False
6 ภูมิภาค (อุตุนิยมวิทยา)    False
5 ภูมิภาค (การท่องเที่ยว)    False
dtype: bool

In [145]:
data_merged2 = data_merged1.merge(data6,how='left',left_on='province_of_isolation',right_on='จังหวัด')
data_merged2
#เชื่อมตาราง data_merged1 และ data6 โดยใช้ province_of_isolation และ จังหวัด เป็นตัวเชื่อมอ้างอิง เพราะเราจะพิจารณาข้อมูลที่มีค่าข้อมูลเหมือนกัน

,No.,announce_date,sex,age,Unit,province_of_isolation,risk,Unnamed: 0,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว)
0,1,2020-01-12,หญิง,61.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,40.0,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
1,2,2020-01-17,หญิง,74.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,40.0,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
2,3,2020-01-22,หญิง,73.0,ปี,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,42.0,นครปฐม,กลาง,กลาง,กลาง,กลาง
3,4,2020-01-22,ชาย,68.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,40.0,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
4,5,2020-01-24,หญิง,66.0,ปี,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,43.0,นนทบุรี,กลาง,กลาง,กลาง,กลาง
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3276093,3276094,2022-03-17,ชาย,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,40.0,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
3276094,3276095,2022-03-17,ชาย,NaN,NaN,นครศรีธรรมราช,ทัณฑสถาน/เรือนจำ,64.0,นครศรีธรรมราช,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้
3276095,3276096,2022-03-17,ชาย,NaN,NaN,นครศรีธรรมราช,ทัณฑสถาน/เรือนจำ,64.0,นครศรีธรรมราช,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้
3276096,3276097,2022-03-17,หญิง,NaN,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,20.0,เชียงใหม่,เหนือ,เหนือ,เหนือ,เหนือ
3276097,3276098,2022-03-17,ชาย,NaN,NaN,ปทุมธานี,ทัณฑสถาน/เรือนจำ,44.0,ปทุมธานี,กลาง,กลาง,กลาง,กลาง

จากการเชื่อตารางข้อมูล COVID ทั้งหมด เราจะทำการเลือกข้อมูลที่จะนำมาวิเคราะห์ ได้แก่ ลำดับ, วันที่, เพศ, อายุ, unit(หน่วยนับอายุ), province_of_isolation,  riskและ ข้อมูลภูมิคภาค โดยใช้ข้อมูลแบ่งภูมิภาค 6 ภูมิภาคโดยแบ่งแบบ ภูมิศาสตร์

In [154]:
data_merged3 = data_merged2[['No.','announce_date','sex','age','Unit','province_of_isolation','risk','จังหวัด','6 ภูมิภาค (ภูมิศาสตร์)']]
data_merged3

,No.,announce_date,sex,age,Unit,province_of_isolation,risk,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์)
0,1,2020-01-12,หญิง,61.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กลาง
1,2,2020-01-17,หญิง,74.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กลาง
2,3,2020-01-22,หญิง,73.0,ปี,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,กลาง
3,4,2020-01-22,ชาย,68.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กลาง
4,5,2020-01-24,หญิง,66.0,ปี,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,นนทบุรี,กลาง
...,...,...,...,...,...,...,...,...,...
3276093,3276094,2022-03-17,ชาย,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,กลาง
3276094,3276095,2022-03-17,ชาย,NaN,NaN,นครศรีธรรมราช,ทัณฑสถาน/เรือนจำ,นครศรีธรรมราช,ใต้
3276095,3276096,2022-03-17,ชาย,NaN,NaN,นครศรีธรรมราช,ทัณฑสถาน/เรือนจำ,นครศรีธรรมราช,ใต้
3276096,3276097,2022-03-17,หญิง,NaN,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,เชียงใหม่,เหนือ
3276097,3276098,2022-03-17,ชาย,NaN,NaN,ปทุมธานี,ทัณฑสถาน/เรือนจำ,ปทุมธานี,กลาง

In [147]:
data_merged3.isnull().any()  # ตรวจสอบหาค่า missing

No.                       False
announce_date             False
sex                        True
age                        True
Unit                       True
province_of_isolation      True
risk                       True
จังหวัด                    True
6 ภูมิภาค (ภูมิศาสตร์)     True
dtype: bool

In [148]:
data_merged3.dropna()

,No.,announce_date,sex,age,Unit,province_of_isolation,risk,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์)
0,1,2020-01-12,หญิง,61.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กลาง
1,2,2020-01-17,หญิง,74.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กลาง
2,3,2020-01-22,หญิง,73.0,ปี,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,กลาง
3,4,2020-01-22,ชาย,68.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กลาง
4,5,2020-01-24,หญิง,66.0,ปี,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,นนทบุรี,กลาง
...,...,...,...,...,...,...,...,...,...
3276039,3276040,2022-03-17,ชาย,11.0,ปี,กรุงเทพมหานคร,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,กรุงเทพมหานคร,กลาง
3276040,3276041,2022-03-17,หญิง,52.0,ปี,กรุงเทพมหานคร,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,กรุงเทพมหานคร,กลาง
3276041,3276042,2022-03-17,ชาย,27.0,ปี,กรุงเทพมหานคร,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,กรุงเทพมหานคร,กลาง
3276042,3276043,2022-03-17,ชาย,52.0,ปี,กรุงเทพมหานคร,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,กรุงเทพมหานคร,กลาง
3276043,3276044,2022-03-17,ชาย,34.0,ปี,กรุงเทพมหานคร,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,กรุงเทพมหานคร,กลาง

In [150]:
# ตรวจสอบว่าข้อมูลหายไปเท่าไหร่
removes = data_merged3.shape[0] - data_merged3.dropna().shape[0]
print(f'size before drop = {data_merged3.shape[0]}')
print(f'size after drop = {data_merged3.dropna().shape[0]}')
print(f'we lost {100*(removes/data_merged3.shape[0])}% of data')

size before drop = 3276098
size after drop = 2880777
we lost 12.06682461879956% of data

จากการลบค่า missing ด้วยการ dropna() พบว่าข้อมูลหายไป 12.06 %

### ลบค่า missing เฉพาะใน column ที่เราสนใจ

In [151]:
data_merged3_nomissingAge = data_merged3.dropna(subset=['age'])
data_merged3_nomissingAge

,No.,announce_date,sex,age,Unit,province_of_isolation,risk,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์)
0,1,2020-01-12,หญิง,61.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กลาง
1,2,2020-01-17,หญิง,74.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กลาง
2,3,2020-01-22,หญิง,73.0,ปี,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,กลาง
3,4,2020-01-22,ชาย,68.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กลาง
4,5,2020-01-24,หญิง,66.0,ปี,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,นนทบุรี,กลาง
...,...,...,...,...,...,...,...,...,...
3276039,3276040,2022-03-17,ชาย,11.0,ปี,กรุงเทพมหานคร,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,กรุงเทพมหานคร,กลาง
3276040,3276041,2022-03-17,หญิง,52.0,ปี,กรุงเทพมหานคร,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,กรุงเทพมหานคร,กลาง
3276041,3276042,2022-03-17,ชาย,27.0,ปี,กรุงเทพมหานคร,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,กรุงเทพมหานคร,กลาง
3276042,3276043,2022-03-17,ชาย,52.0,ปี,กรุงเทพมหานคร,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,กรุงเทพมหานคร,กลาง
3276043,3276044,2022-03-17,ชาย,34.0,ปี,กรุงเทพมหานคร,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,กรุงเทพมหานคร,กลาง

In [152]:
data_merged3_nomissingAge.isnull().any()  # ตรวจสอบหาค่า missing

No.                       False
announce_date             False
sex                        True
age                       False
Unit                       True
province_of_isolation      True
risk                       True
จังหวัด                    True
6 ภูมิภาค (ภูมิศาสตร์)     True
dtype: bool

In [153]:
# ตรวจสอบว่าข้อมูลหายไปเท่าไหร่
removes = data_merged3_nomissingAge.shape[0] - data_merged3_nomissingAge.dropna().shape[0]
print(f'size before drop = {data_merged3_nomissingAge.shape[0]}')
print(f'size after drop = {data_merged3_nomissingAge.dropna().shape[0]}')
print(f'we lost {100*(removes/data_merged3_nomissingAge.shape[0])}% of data')

size before drop = 3010468
size after drop = 2880777
we lost 4.308001280863972% of data

จากการลบค่า missing โดยลบเฉพาะคอลัมน์ที่เราสนใจพบว่าข้อมูลหาย 4.3 % แต่ยังมีข้อมูลที่มีค่า missing อยู่ จึงต้องใช้การแทนด้วย class ใหม่ (ค่าที่เหมาะสม)

### แทนค่าในคอลัมน์ที่สนใจ class ใหม่ (ค่าที่เหมาะสม)

In [156]:
nomissingAge = data_merged3[['age']].mean() #หาค่าเฉลี่ยของอายุ
data_merged3[['age']] = data_merged3[['age']].fillna(nomissingAge) #แทนค่าเฉลี่ยของอายุลงในข้อมูลที่เป็นค่า missing

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [157]:
data_merged3[['sex']] = data_merged3[['sex']].fillna('ไม่ระบุ')   #แทนค่า Missing ในคอลัมน์ sex

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [158]:
data_merged3[['Unit']] = data_merged3[['Unit']].fillna('ปี')  #แทนค่า Missing ในคอลัมน์ unit

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [159]:
data_merged3[['province_of_isolation']] = data_merged3[['province_of_isolation']].fillna('ไม่ระบุ')  #แทนค่า Missing ในคอลัมน์ province_of_isolation

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [160]:
data_merged3[['risk']] = data_merged3[['risk']].fillna('ไม่ระบุ')  #แทนค่า Missing ในคอลัมน์ risk

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [161]:
data_merged3.isnull().any()  # ตรวจสอบหาค่า missing

No.                       False
announce_date             False
sex                       False
age                        True
Unit                      False
province_of_isolation     False
risk                      False
จังหวัด                    True
6 ภูมิภาค (ภูมิศาสตร์)     True
dtype: bool

In [162]:
data_merged3

,No.,announce_date,sex,age,Unit,province_of_isolation,risk,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์)
0,1,2020-01-12,หญิง,61.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กลาง
1,2,2020-01-17,หญิง,74.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กลาง
2,3,2020-01-22,หญิง,73.0,ปี,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,กลาง
3,4,2020-01-22,ชาย,68.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กลาง
4,5,2020-01-24,หญิง,66.0,ปี,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,นนทบุรี,กลาง
...,...,...,...,...,...,...,...,...,...
3276093,3276094,2022-03-17,ชาย,NaN,ปี,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,กลาง
3276094,3276095,2022-03-17,ชาย,NaN,ปี,นครศรีธรรมราช,ทัณฑสถาน/เรือนจำ,นครศรีธรรมราช,ใต้
3276095,3276096,2022-03-17,ชาย,NaN,ปี,นครศรีธรรมราช,ทัณฑสถาน/เรือนจำ,นครศรีธรรมราช,ใต้
3276096,3276097,2022-03-17,หญิง,NaN,ปี,เชียงใหม่,ทัณฑสถาน/เรือนจำ,เชียงใหม่,เหนือ
3276097,3276098,2022-03-17,ชาย,NaN,ปี,ปทุมธานี,ทัณฑสถาน/เรือนจำ,ปทุมธานี,กลาง

In [163]:
data_merged3.dropna()  # ลบค่า missing

,No.,announce_date,sex,age,Unit,province_of_isolation,risk,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์)
0,1,2020-01-12,หญิง,61.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กลาง
1,2,2020-01-17,หญิง,74.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กลาง
2,3,2020-01-22,หญิง,73.0,ปี,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,กลาง
3,4,2020-01-22,ชาย,68.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กลาง
4,5,2020-01-24,หญิง,66.0,ปี,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,นนทบุรี,กลาง
...,...,...,...,...,...,...,...,...,...
3276039,3276040,2022-03-17,ชาย,11.0,ปี,กรุงเทพมหานคร,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,กรุงเทพมหานคร,กลาง
3276040,3276041,2022-03-17,หญิง,52.0,ปี,กรุงเทพมหานคร,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,กรุงเทพมหานคร,กลาง
3276041,3276042,2022-03-17,ชาย,27.0,ปี,กรุงเทพมหานคร,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,กรุงเทพมหานคร,กลาง
3276042,3276043,2022-03-17,ชาย,52.0,ปี,กรุงเทพมหานคร,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,กรุงเทพมหานคร,กลาง
3276043,3276044,2022-03-17,ชาย,34.0,ปี,กรุงเทพมหานคร,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,กรุงเทพมหานคร,กลาง

In [164]:
# ตรวจสอบว่าข้อมูลหายไปเท่าไหร่
removes = data_merged3.shape[0] - data_merged3.dropna().shape[0]
print(f'size before drop = {data_merged3.shape[0]}')
print(f'size after drop = {data_merged3.dropna().shape[0]}')
print(f'we lost {100*(removes/data_merged3.shape[0])}% of data')

size before drop = 3276098
size after drop = 2995494
we lost 8.565189441829885% of data

จากการแทนค่า missing ในคอลัมน์ที่สนใจ แล้วทำการ dropna() ข้อมูล พบว่าข้อมูลหายไป 8.5 %

In [165]:
data_df = data_merged3.dropna()
data_df

,No.,announce_date,sex,age,Unit,province_of_isolation,risk,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์)
0,1,2020-01-12,หญิง,61.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กลาง
1,2,2020-01-17,หญิง,74.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กลาง
2,3,2020-01-22,หญิง,73.0,ปี,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,กลาง
3,4,2020-01-22,ชาย,68.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กลาง
4,5,2020-01-24,หญิง,66.0,ปี,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,นนทบุรี,กลาง
...,...,...,...,...,...,...,...,...,...
3276039,3276040,2022-03-17,ชาย,11.0,ปี,กรุงเทพมหานคร,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,กรุงเทพมหานคร,กลาง
3276040,3276041,2022-03-17,หญิง,52.0,ปี,กรุงเทพมหานคร,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,กรุงเทพมหานคร,กลาง
3276041,3276042,2022-03-17,ชาย,27.0,ปี,กรุงเทพมหานคร,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,กรุงเทพมหานคร,กลาง
3276042,3276043,2022-03-17,ชาย,52.0,ปี,กรุงเทพมหานคร,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,กรุงเทพมหานคร,กลาง
3276043,3276044,2022-03-17,ชาย,34.0,ปี,กรุงเทพมหานคร,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,กรุงเทพมหานคร,กลาง

### เชื่อมตารางภูมิภาค กับ ตารางพิกัดโรงพยาบาล

In [166]:
data1_cut = data1[['หน่วยงาน','จังหวัด','ที่อยู่จุดบริการ','ละติจูด','ลองติจูด']]  # เลือกมาแค่ข้อมูลที่ต้องการ
data1_cut

,หน่วยงาน,จังหวัด,ที่อยู่จุดบริการ,ละติจูด,ลองติจูด
0,โรงพยาบาลค่ายพิชัยดาบหัก,อุตรดิตถ์,102 หมู่ 8 ต.ท่าเสา อ.เมืองอุตรดิตถ์ จ.อุตรดิต...,17.662624,100.138907
1,โรงพยาบาลสมเด็จพระนางเจ้าสิริกิติ์,ชลบุรี,NaN,12.689318,100.981585
2,โรงพยาบาลทหารเรือกรุงเทพ,กรุงเทพมหานคร,224 ถนนริมทางรถไฟเก่า แขวงบางนา เขตบางนา กรุงเ...,13.670278,100.588009
3,กองทัพบก โรงพยาบาลพระมงกุฎเกล้า,กรุงเทพมหานคร,แขวงทุ่งพญาไท เขตราชเทวี กรุงเทพมหานคร 10400,13.767327,100.534169
4,กองทัพบก โรงพยาบาลอานันทมหิดล,ลพบุรี,ต.เขาสามยอด อ.เมืองลพบุรี จ.ลพบุรี 15000,14.849659,100.666970
...,...,...,...,...,...
10709,ศูนย์บริการสาธารณสุข 21 วัดธาตุทอง,กรุงเทพมหานคร,ถนนสุขุมวิท แขวงพระโขนง เขตคลองเตย กรุงเทพมหาน...,13.719146,100.585634
10710,ศูนย์บริการสาธารณสุข 59 ทุ่งครุ,กรุงเทพมหานคร,บ้านเลขที่ 46 ศูนย์บริการสาธารณสุข 59 ทุ่งครุ ...,13.607237,100.506656
10711,ศูนย์บริการสาธารณสุข 39 ราษฎร์บูรณะ,กรุงเทพมหานคร,ถนนราษฎร์บูรณะ แขวงราษฎร์บูรณะ เขตราษฎร์บูรณะ ...,13.680928,100.506805
10712,ศูนย์บริการสาธารณสุข 60 รสสุคนธ์ มโนชญากรณ์,กรุงเทพมหานคร,60 ซอยสรงประภา 11 แขวงดอนเมือง เขตดอนเมือง กรุ...,13.925453,100.580734
10713,ศูนย์บริการสาธารณสุข 19 วงศ์สว่าง,กรุงเทพมหานคร,วงศ์สว่าง 27 (ซอยสายลม) แขวงวงศ์สว่าง เขตบางซื...,13.827509,100.526282

In [167]:
data1_merged = data1_cut.merge(data6,how='left',left_on='จังหวัด',right_on='จังหวัด')
data1_merged 
#เชื่อมตาราง data1_cut และ data6 โดยใช้ จังหวัด เป็นตัวเชื่อมอ้างอิง เพราะเราจะพิจารณาข้อมูลที่มีค่าข้อมูลเหมือนกัน

,หน่วยงาน,จังหวัด,ที่อยู่จุดบริการ,ละติจูด,ลองติจูด,Unnamed: 0,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว)
0,โรงพยาบาลค่ายพิชัยดาบหัก,อุตรดิตถ์,102 หมู่ 8 ต.ท่าเสา อ.เมืองอุตรดิตถ์ จ.อุตรดิต...,17.662624,100.138907,28.0,เหนือ,เหนือ,เหนือ,เหนือ
1,โรงพยาบาลสมเด็จพระนางเจ้าสิริกิติ์,ชลบุรี,NaN,12.689318,100.981585,54.0,ตะวันออก,กลาง,ตะวันออก,ตะวันออก
2,โรงพยาบาลทหารเรือกรุงเทพ,กรุงเทพมหานคร,224 ถนนริมทางรถไฟเก่า แขวงบางนา เขตบางนา กรุงเ...,13.670278,100.588009,40.0,กลาง,กลาง,กลาง,กลาง
3,กองทัพบก โรงพยาบาลพระมงกุฎเกล้า,กรุงเทพมหานคร,แขวงทุ่งพญาไท เขตราชเทวี กรุงเทพมหานคร 10400,13.767327,100.534169,40.0,กลาง,กลาง,กลาง,กลาง
4,กองทัพบก โรงพยาบาลอานันทมหิดล,ลพบุรี,ต.เขาสามยอด อ.เมืองลพบุรี จ.ลพบุรี 15000,14.849659,100.666970,41.0,กลาง,กลาง,กลาง,กลาง
...,...,...,...,...,...,...,...,...,...,...
10709,ศูนย์บริการสาธารณสุข 21 วัดธาตุทอง,กรุงเทพมหานคร,ถนนสุขุมวิท แขวงพระโขนง เขตคลองเตย กรุงเทพมหาน...,13.719146,100.585634,40.0,กลาง,กลาง,กลาง,กลาง
10710,ศูนย์บริการสาธารณสุข 59 ทุ่งครุ,กรุงเทพมหานคร,บ้านเลขที่ 46 ศูนย์บริการสาธารณสุข 59 ทุ่งครุ ...,13.607237,100.506656,40.0,กลาง,กลาง,กลาง,กลาง
10711,ศูนย์บริการสาธารณสุข 39 ราษฎร์บูรณะ,กรุงเทพมหานคร,ถนนราษฎร์บูรณะ แขวงราษฎร์บูรณะ เขตราษฎร์บูรณะ ...,13.680928,100.506805,40.0,กลาง,กลาง,กลาง,กลาง
10712,ศูนย์บริการสาธารณสุข 60 รสสุคนธ์ มโนชญากรณ์,กรุงเทพมหานคร,60 ซอยสรงประภา 11 แขวงดอนเมือง เขตดอนเมือง กรุ...,13.925453,100.580734,40.0,กลาง,กลาง,กลาง,กลาง
10713,ศูนย์บริการสาธารณสุข 19 วงศ์สว่าง,กรุงเทพมหานคร,วงศ์สว่าง 27 (ซอยสายลม) แขวงวงศ์สว่าง เขตบางซื...,13.827509,100.526282,40.0,กลาง,กลาง,กลาง,กลาง

In [168]:
data1_cut2 = data1_merged[['หน่วยงาน','จังหวัด','ที่อยู่จุดบริการ','ละติจูด','ลองติจูด','6 ภูมิภาค (ภูมิศาสตร์)']]  # เลือกข้อมูลที่ต้องการ
data1_cut2

,หน่วยงาน,จังหวัด,ที่อยู่จุดบริการ,ละติจูด,ลองติจูด,6 ภูมิภาค (ภูมิศาสตร์)
0,โรงพยาบาลค่ายพิชัยดาบหัก,อุตรดิตถ์,102 หมู่ 8 ต.ท่าเสา อ.เมืองอุตรดิตถ์ จ.อุตรดิต...,17.662624,100.138907,เหนือ
1,โรงพยาบาลสมเด็จพระนางเจ้าสิริกิติ์,ชลบุรี,NaN,12.689318,100.981585,ตะวันออก
2,โรงพยาบาลทหารเรือกรุงเทพ,กรุงเทพมหานคร,224 ถนนริมทางรถไฟเก่า แขวงบางนา เขตบางนา กรุงเ...,13.670278,100.588009,กลาง
3,กองทัพบก โรงพยาบาลพระมงกุฎเกล้า,กรุงเทพมหานคร,แขวงทุ่งพญาไท เขตราชเทวี กรุงเทพมหานคร 10400,13.767327,100.534169,กลาง
4,กองทัพบก โรงพยาบาลอานันทมหิดล,ลพบุรี,ต.เขาสามยอด อ.เมืองลพบุรี จ.ลพบุรี 15000,14.849659,100.666970,กลาง
...,...,...,...,...,...,...
10709,ศูนย์บริการสาธารณสุข 21 วัดธาตุทอง,กรุงเทพมหานคร,ถนนสุขุมวิท แขวงพระโขนง เขตคลองเตย กรุงเทพมหาน...,13.719146,100.585634,กลาง
10710,ศูนย์บริการสาธารณสุข 59 ทุ่งครุ,กรุงเทพมหานคร,บ้านเลขที่ 46 ศูนย์บริการสาธารณสุข 59 ทุ่งครุ ...,13.607237,100.506656,กลาง
10711,ศูนย์บริการสาธารณสุข 39 ราษฎร์บูรณะ,กรุงเทพมหานคร,ถนนราษฎร์บูรณะ แขวงราษฎร์บูรณะ เขตราษฎร์บูรณะ ...,13.680928,100.506805,กลาง
10712,ศูนย์บริการสาธารณสุข 60 รสสุคนธ์ มโนชญากรณ์,กรุงเทพมหานคร,60 ซอยสรงประภา 11 แขวงดอนเมือง เขตดอนเมือง กรุ...,13.925453,100.580734,กลาง
10713,ศูนย์บริการสาธารณสุข 19 วงศ์สว่าง,กรุงเทพมหานคร,วงศ์สว่าง 27 (ซอยสายลม) แขวงวงศ์สว่าง เขตบางซื...,13.827509,100.526282,กลาง

In [169]:
data1_cut2.isnull().any()

หน่วยงาน                  False
จังหวัด                   False
ที่อยู่จุดบริการ           True
ละติจูด                    True
ลองติจูด                   True
6 ภูมิภาค (ภูมิศาสตร์)     True
dtype: bool

In [170]:
data1_cut2.dropna()  # ลบค่า missing

,หน่วยงาน,จังหวัด,ที่อยู่จุดบริการ,ละติจูด,ลองติจูด,6 ภูมิภาค (ภูมิศาสตร์)
0,โรงพยาบาลค่ายพิชัยดาบหัก,อุตรดิตถ์,102 หมู่ 8 ต.ท่าเสา อ.เมืองอุตรดิตถ์ จ.อุตรดิต...,17.662624,100.138907,เหนือ
2,โรงพยาบาลทหารเรือกรุงเทพ,กรุงเทพมหานคร,224 ถนนริมทางรถไฟเก่า แขวงบางนา เขตบางนา กรุงเ...,13.670278,100.588009,กลาง
3,กองทัพบก โรงพยาบาลพระมงกุฎเกล้า,กรุงเทพมหานคร,แขวงทุ่งพญาไท เขตราชเทวี กรุงเทพมหานคร 10400,13.767327,100.534169,กลาง
4,กองทัพบก โรงพยาบาลอานันทมหิดล,ลพบุรี,ต.เขาสามยอด อ.เมืองลพบุรี จ.ลพบุรี 15000,14.849659,100.666970,กลาง
5,โรงพยาบาลภูมิพลอดุลยเดช กรมแพทย์ทหารอากาศ,กรุงเทพมหานคร,แขวงคลองถนน เขตสายไหม กรุงเทพมหานคร 10220,13.909294,100.618019,กลาง
...,...,...,...,...,...,...
10709,ศูนย์บริการสาธารณสุข 21 วัดธาตุทอง,กรุงเทพมหานคร,ถนนสุขุมวิท แขวงพระโขนง เขตคลองเตย กรุงเทพมหาน...,13.719146,100.585634,กลาง
10710,ศูนย์บริการสาธารณสุข 59 ทุ่งครุ,กรุงเทพมหานคร,บ้านเลขที่ 46 ศูนย์บริการสาธารณสุข 59 ทุ่งครุ ...,13.607237,100.506656,กลาง
10711,ศูนย์บริการสาธารณสุข 39 ราษฎร์บูรณะ,กรุงเทพมหานคร,ถนนราษฎร์บูรณะ แขวงราษฎร์บูรณะ เขตราษฎร์บูรณะ ...,13.680928,100.506805,กลาง
10712,ศูนย์บริการสาธารณสุข 60 รสสุคนธ์ มโนชญากรณ์,กรุงเทพมหานคร,60 ซอยสรงประภา 11 แขวงดอนเมือง เขตดอนเมือง กรุ...,13.925453,100.580734,กลาง
10713,ศูนย์บริการสาธารณสุข 19 วงศ์สว่าง,กรุงเทพมหานคร,วงศ์สว่าง 27 (ซอยสายลม) แขวงวงศ์สว่าง เขตบางซื...,13.827509,100.526282,กลาง

In [171]:
removes = data1_cut2.shape[0] - data1_cut2.dropna().shape[0]
print(f'size before drop = {data1_cut2.shape[0]}')
print(f'size after drop = {data1_cut2.dropna().shape[0]}')
print(f'we lost {100*(removes/data1_cut2.shape[0])}% of data')

size before drop = 10714
size after drop = 10393
we lost 2.996079895463879% of data

จากการใช้ dropna() ในการลบค่า missing พบว่าข้อมูลหายไป 2.99%

In [172]:
data_gps = data1_cut2.dropna()
data_gps

,หน่วยงาน,จังหวัด,ที่อยู่จุดบริการ,ละติจูด,ลองติจูด,6 ภูมิภาค (ภูมิศาสตร์)
0,โรงพยาบาลค่ายพิชัยดาบหัก,อุตรดิตถ์,102 หมู่ 8 ต.ท่าเสา อ.เมืองอุตรดิตถ์ จ.อุตรดิต...,17.662624,100.138907,เหนือ
2,โรงพยาบาลทหารเรือกรุงเทพ,กรุงเทพมหานคร,224 ถนนริมทางรถไฟเก่า แขวงบางนา เขตบางนา กรุงเ...,13.670278,100.588009,กลาง
3,กองทัพบก โรงพยาบาลพระมงกุฎเกล้า,กรุงเทพมหานคร,แขวงทุ่งพญาไท เขตราชเทวี กรุงเทพมหานคร 10400,13.767327,100.534169,กลาง
4,กองทัพบก โรงพยาบาลอานันทมหิดล,ลพบุรี,ต.เขาสามยอด อ.เมืองลพบุรี จ.ลพบุรี 15000,14.849659,100.666970,กลาง
5,โรงพยาบาลภูมิพลอดุลยเดช กรมแพทย์ทหารอากาศ,กรุงเทพมหานคร,แขวงคลองถนน เขตสายไหม กรุงเทพมหานคร 10220,13.909294,100.618019,กลาง
...,...,...,...,...,...,...
10709,ศูนย์บริการสาธารณสุข 21 วัดธาตุทอง,กรุงเทพมหานคร,ถนนสุขุมวิท แขวงพระโขนง เขตคลองเตย กรุงเทพมหาน...,13.719146,100.585634,กลาง
10710,ศูนย์บริการสาธารณสุข 59 ทุ่งครุ,กรุงเทพมหานคร,บ้านเลขที่ 46 ศูนย์บริการสาธารณสุข 59 ทุ่งครุ ...,13.607237,100.506656,กลาง
10711,ศูนย์บริการสาธารณสุข 39 ราษฎร์บูรณะ,กรุงเทพมหานคร,ถนนราษฎร์บูรณะ แขวงราษฎร์บูรณะ เขตราษฎร์บูรณะ ...,13.680928,100.506805,กลาง
10712,ศูนย์บริการสาธารณสุข 60 รสสุคนธ์ มโนชญากรณ์,กรุงเทพมหานคร,60 ซอยสรงประภา 11 แขวงดอนเมือง เขตดอนเมือง กรุ...,13.925453,100.580734,กลาง
10713,ศูนย์บริการสาธารณสุข 19 วงศ์สว่าง,กรุงเทพมหานคร,วงศ์สว่าง 27 (ซอยสายลม) แขวงวงศ์สว่าง เขตบางซื...,13.827509,100.526282,กลาง

In [173]:
data_gps1 = data_gps.reset_index(drop=True)
data_gps1

,หน่วยงาน,จังหวัด,ที่อยู่จุดบริการ,ละติจูด,ลองติจูด,6 ภูมิภาค (ภูมิศาสตร์)
0,โรงพยาบาลค่ายพิชัยดาบหัก,อุตรดิตถ์,102 หมู่ 8 ต.ท่าเสา อ.เมืองอุตรดิตถ์ จ.อุตรดิต...,17.662624,100.138907,เหนือ
1,โรงพยาบาลทหารเรือกรุงเทพ,กรุงเทพมหานคร,224 ถนนริมทางรถไฟเก่า แขวงบางนา เขตบางนา กรุงเ...,13.670278,100.588009,กลาง
2,กองทัพบก โรงพยาบาลพระมงกุฎเกล้า,กรุงเทพมหานคร,แขวงทุ่งพญาไท เขตราชเทวี กรุงเทพมหานคร 10400,13.767327,100.534169,กลาง
3,กองทัพบก โรงพยาบาลอานันทมหิดล,ลพบุรี,ต.เขาสามยอด อ.เมืองลพบุรี จ.ลพบุรี 15000,14.849659,100.666970,กลาง
4,โรงพยาบาลภูมิพลอดุลยเดช กรมแพทย์ทหารอากาศ,กรุงเทพมหานคร,แขวงคลองถนน เขตสายไหม กรุงเทพมหานคร 10220,13.909294,100.618019,กลาง
...,...,...,...,...,...,...
10388,ศูนย์บริการสาธารณสุข 21 วัดธาตุทอง,กรุงเทพมหานคร,ถนนสุขุมวิท แขวงพระโขนง เขตคลองเตย กรุงเทพมหาน...,13.719146,100.585634,กลาง
10389,ศูนย์บริการสาธารณสุข 59 ทุ่งครุ,กรุงเทพมหานคร,บ้านเลขที่ 46 ศูนย์บริการสาธารณสุข 59 ทุ่งครุ ...,13.607237,100.506656,กลาง
10390,ศูนย์บริการสาธารณสุข 39 ราษฎร์บูรณะ,กรุงเทพมหานคร,ถนนราษฎร์บูรณะ แขวงราษฎร์บูรณะ เขตราษฎร์บูรณะ ...,13.680928,100.506805,กลาง
10391,ศูนย์บริการสาธารณสุข 60 รสสุคนธ์ มโนชญากรณ์,กรุงเทพมหานคร,60 ซอยสรงประภา 11 แขวงดอนเมือง เขตดอนเมือง กรุ...,13.925453,100.580734,กลาง
10392,ศูนย์บริการสาธารณสุข 19 วงศ์สว่าง,กรุงเทพมหานคร,วงศ์สว่าง 27 (ซอยสายลม) แขวงวงศ์สว่าง เขตบางซื...,13.827509,100.526282,กลาง

# Export Data

In [174]:
data_df

,No.,announce_date,sex,age,Unit,province_of_isolation,risk,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์)
0,1,2020-01-12,หญิง,61.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กลาง
1,2,2020-01-17,หญิง,74.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กลาง
2,3,2020-01-22,หญิง,73.0,ปี,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,กลาง
3,4,2020-01-22,ชาย,68.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กลาง
4,5,2020-01-24,หญิง,66.0,ปี,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,นนทบุรี,กลาง
...,...,...,...,...,...,...,...,...,...
3276039,3276040,2022-03-17,ชาย,11.0,ปี,กรุงเทพมหานคร,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,กรุงเทพมหานคร,กลาง
3276040,3276041,2022-03-17,หญิง,52.0,ปี,กรุงเทพมหานคร,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,กรุงเทพมหานคร,กลาง
3276041,3276042,2022-03-17,ชาย,27.0,ปี,กรุงเทพมหานคร,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,กรุงเทพมหานคร,กลาง
3276042,3276043,2022-03-17,ชาย,52.0,ปี,กรุงเทพมหานคร,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,กรุงเทพมหานคร,กลาง
3276043,3276044,2022-03-17,ชาย,34.0,ปี,กรุงเทพมหานคร,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,กรุงเทพมหานคร,กลาง

In [175]:
set(data_df['6 ภูมิภาค (ภูมิศาสตร์)'])

{'กลาง', 'ตะวันตก', 'ตะวันออก', 'ตะวันออกเฉียงเหนือ', 'เหนือ', 'ใต้'}

In [176]:
data_df1 = data_df[(data_df['6 ภูมิภาค (ภูมิศาสตร์)']=='กลาง') |
                   (data_df['6 ภูมิภาค (ภูมิศาสตร์)']=='ตะวันตก') |
                   (data_df['6 ภูมิภาค (ภูมิศาสตร์)']=='ตะวันออก')]
data_df1

,No.,announce_date,sex,age,Unit,province_of_isolation,risk,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์)
0,1,2020-01-12,หญิง,61.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กลาง
1,2,2020-01-17,หญิง,74.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กลาง
2,3,2020-01-22,หญิง,73.0,ปี,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,กลาง
3,4,2020-01-22,ชาย,68.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กลาง
4,5,2020-01-24,หญิง,66.0,ปี,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,นนทบุรี,กลาง
...,...,...,...,...,...,...,...,...,...
3276039,3276040,2022-03-17,ชาย,11.0,ปี,กรุงเทพมหานคร,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,กรุงเทพมหานคร,กลาง
3276040,3276041,2022-03-17,หญิง,52.0,ปี,กรุงเทพมหานคร,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,กรุงเทพมหานคร,กลาง
3276041,3276042,2022-03-17,ชาย,27.0,ปี,กรุงเทพมหานคร,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,กรุงเทพมหานคร,กลาง
3276042,3276043,2022-03-17,ชาย,52.0,ปี,กรุงเทพมหานคร,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,กรุงเทพมหานคร,กลาง
3276043,3276044,2022-03-17,ชาย,34.0,ปี,กรุงเทพมหานคร,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,กรุงเทพมหานคร,กลาง

In [177]:
data_df2 = data_df[(data_df['6 ภูมิภาค (ภูมิศาสตร์)']=='ตะวันออกเฉียงเหนือ') |
                   (data_df['6 ภูมิภาค (ภูมิศาสตร์)']=='เหนือ') |
                   (data_df['6 ภูมิภาค (ภูมิศาสตร์)']=='ใต้')]
data_df2

,No.,announce_date,sex,age,Unit,province_of_isolation,risk,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์)
13,14,2020-01-28,หญิง,32.0,ปี,ภูเก็ต,คนต่างชาติเดินทางมาจากต่างประเทศ,ภูเก็ต,ใต้
16,17,2020-01-31,ชาย,28.0,ปี,เชียงใหม่,คนต่างชาติเดินทางมาจากต่างประเทศ,เชียงใหม่,เหนือ
23,24,2020-02-04,หญิง,31.0,ปี,กระบี่,คนต่างชาติเดินทางมาจากต่างประเทศ,กระบี่,ใต้
25,26,2020-02-08,ชาย,36.0,ปี,ภูเก็ต,คนต่างชาติเดินทางมาจากต่างประเทศ,ภูเก็ต,ใต้
46,47,2020-03-05,ชาย,22.0,ปี,นครศรีธรรมราช,คนไทยเดินทางกลับจากต่างประเทศ,นครศรีธรรมราช,ใต้
...,...,...,...,...,...,...,...,...,...
3272336,3272337,2022-03-17,หญิง,37.0,ปี,ยะลา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ยะลา,ใต้
3272337,3272338,2022-03-17,หญิง,3.0,เดือน,ยะลา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ยะลา,ใต้
3272338,3272339,2022-03-17,ชาย,4.0,ปี,ยะลา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ยะลา,ใต้
3272339,3272340,2022-03-17,ชาย,4.0,เดือน,ยะลา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ยะลา,ใต้
3272340,3272341,2022-03-17,ชาย,9.0,ปี,ยะลา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ยะลา,ใต้

In [178]:
data_df3 = data_df1.reset_index(drop=True)
data_df3

,No.,announce_date,sex,age,Unit,province_of_isolation,risk,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์)
0,1,2020-01-12,หญิง,61.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กลาง
1,2,2020-01-17,หญิง,74.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กลาง
2,3,2020-01-22,หญิง,73.0,ปี,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,กลาง
3,4,2020-01-22,ชาย,68.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กลาง
4,5,2020-01-24,หญิง,66.0,ปี,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,นนทบุรี,กลาง
...,...,...,...,...,...,...,...,...,...
2043500,3276040,2022-03-17,ชาย,11.0,ปี,กรุงเทพมหานคร,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,กรุงเทพมหานคร,กลาง
2043501,3276041,2022-03-17,หญิง,52.0,ปี,กรุงเทพมหานคร,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,กรุงเทพมหานคร,กลาง
2043502,3276042,2022-03-17,ชาย,27.0,ปี,กรุงเทพมหานคร,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,กรุงเทพมหานคร,กลาง
2043503,3276043,2022-03-17,ชาย,52.0,ปี,กรุงเทพมหานคร,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,กรุงเทพมหานคร,กลาง
2043504,3276044,2022-03-17,ชาย,34.0,ปี,กรุงเทพมหานคร,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,กรุงเทพมหานคร,กลาง

In [179]:
data_df4 = data_df2.reset_index(drop=True)
data_df4

,No.,announce_date,sex,age,Unit,province_of_isolation,risk,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์)
0,14,2020-01-28,หญิง,32.0,ปี,ภูเก็ต,คนต่างชาติเดินทางมาจากต่างประเทศ,ภูเก็ต,ใต้
1,17,2020-01-31,ชาย,28.0,ปี,เชียงใหม่,คนต่างชาติเดินทางมาจากต่างประเทศ,เชียงใหม่,เหนือ
2,24,2020-02-04,หญิง,31.0,ปี,กระบี่,คนต่างชาติเดินทางมาจากต่างประเทศ,กระบี่,ใต้
3,26,2020-02-08,ชาย,36.0,ปี,ภูเก็ต,คนต่างชาติเดินทางมาจากต่างประเทศ,ภูเก็ต,ใต้
4,47,2020-03-05,ชาย,22.0,ปี,นครศรีธรรมราช,คนไทยเดินทางกลับจากต่างประเทศ,นครศรีธรรมราช,ใต้
...,...,...,...,...,...,...,...,...,...
951984,3272337,2022-03-17,หญิง,37.0,ปี,ยะลา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ยะลา,ใต้
951985,3272338,2022-03-17,หญิง,3.0,เดือน,ยะลา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ยะลา,ใต้
951986,3272339,2022-03-17,ชาย,4.0,ปี,ยะลา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ยะลา,ใต้
951987,3272340,2022-03-17,ชาย,4.0,เดือน,ยะลา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ยะลา,ใต้
951988,3272341,2022-03-17,ชาย,9.0,ปี,ยะลา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ยะลา,ใต้

## ข้อมูลที่จะใช้ ได้แก่
1. data_gps1 เป็นข้อมูล พิกัดสถานพยาบาล
2. data_df3   เป็นข้อมูล โควิดของภาคกลาง ตะวันตกและตะวันออก
3. data_df4   เป็นข้อมูล โควิดของภาคตะวันออกเฉียงเหนือ ภาคเหนือและภาคใต้

## Save table

In [180]:
data_gps1.to_csv(os.path.join(path,'data_gps.csv'))  # save ไปเก็บในไดร์ฟ

In [181]:
data_df3.to_csv(os.path.join(path,'data_df1.csv'))  # save ไปเก็บในไดร์ฟ

In [182]:
data_df4.to_csv(os.path.join(path,'data_df2.csv'))